*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.slider-images{
    height:500px;
    margin: 20px auto;
    position:relative;
    overflow: hidden;
}

.btns{
    text-align: center;
}
button{
    background:antiquewhite;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin: 0px 10px;
}
.slide{
       position:absolute;
       transition: 1s;
}

